<style>
    .dataTables_empty {
      display: none !important;
    }
    .modal-dialog .modal-content{
      height: auto !important;
    }
  .invalid-feedback{display: block;}
  span.frontCanvas, span.backCanvas{
    border: 1px dotted;
    position: absolute;
    left: 46px;
    top: 28px;
  }
</style>
  <!-- Begin page content -->
  <main role="main" class="main-wrapper" id="main">
      <div class="container-fluid table-page text-center">
        <div class="row ">
          <div class="col-lg-4  text-left">
            <div class="form-row">
              <div class="form-group col-md-6">
                <a class="btn btn-primary btn-event btn-lg " routerLink='/admin/create-product'>Create New Product</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
              &nbsp;
          </div>
  
          <div class="col-lg-12">
            <div class="bg-white p-4 rounded text-left box-shadow-md table-responsive">
              <button class="btn btn-primary" (click)="printPage()">print</button>
              <a href="{{url+'export-product'}}" class="btn btn-primary" style="margin-left: 15px;">Excel</a>
              <br/><br/>
              <table id="tablePreview" datatable [dtOptions]="dtOptions"  class="table small table-hover row-border hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Size</th>
                      <th>color</th>
                      <th>Front Canvas (in px)</th>
                      <th>Back Canvas (in px)</th>
                      <th>Preview</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  
                  <tbody *ngIf="products?.length">
                   <tr *ngFor="let product of products; let i=index; let last = last">
                      <td>{{product.name? product.name:''}}</td>
                      <td>{{product.type? product.type:''}}</td>
                      <td>
                        <span *ngFor="let clr of product.size | keyvalue">
                          {{(clr.value? clr.value:'')+' '}}
                        </span>
                        {{(product.other_size? product.other_size:'')}}
                      </td>
                      <td>
                        <span class="px-2 w-10 mr-1" *ngFor="let clr of product.color | keyvalue" [ngStyle]="{'background-color':clr.value}">
                        </span>
                      </td>
                      <td>{{product.canvas_front_width+'x'+product.canvas_front_height}}</td>
                      <td>{{product.canvas_back_width+'x'+product.canvas_back_height}}</td>
                      <td>
                        <img src="{{appurl+product.frontview_file}}" width="50px" height="50px">
                        <!--<img src="{{appurl+product.backview_file}}" width="50px" height="50px">-->
                      </td>
                      <td class="">
                        <span class="">
                            <a href="javascript:void(0)" title="View/Edit Product" class="btn btn-primary btn-sm m-1" (click)="open(mymodal,product.product_id)"> 
                              <i class="fa fa-eye"></i>
                         </a>
                        </span>
                        <span class="" *ngIf="checkAuth()!=''">
                          <a href="javascript:void(0)" title="Remove Product" class="btn btn-danger btn-sm m-1" (click)="deleteProduct(product.product_id)">
                            <!-- <img src="assets/img/icons/delet.png" alt=""> -->
                            <i class="fa fa-trash text-white"></i>
                          </a>
                        </span>   
                      </td>
                  
                    </tr>
                    
                    <tr *ngIf="products?.length == 0">
                      <td colspan="8" class="no-data-available">No data!</td>
                    </tr>
  
                  </tbody>
                </table>
            </div>
            
            <ng-template #mymodal let-modal style="max-width: 1000px;">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Product</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <form class="w-100" enctype="multipart/form-data" [formGroup]="productForm" (ngSubmit)="updateProduct()">
              <div class="modal-body">
                <h4 class="text-dark text-center"><strong>{{product.name? product.name:''}}</strong></h4>
                
                <div class="row pb-5">
                <div class="col-lg-3 col-md-4 offset-lg-1">
                    <div class="row">
                      
                      <div class="col-12">
                        <div class="form-group">
                          <label>Product Name</label>
                          <input type="text" class="form-control" name="" placeholder="Enter product name" formControlName="product_name" name="product_name" [ngClass]="{ 'is-invalid': submitted && f.product_name.errors }">
                          <div *ngIf="submitted && f.product_name.errors" class="invalid-feedback">
                            <div *ngIf="f.product_name.errors.required">Product Name is required</div>
                            </div>
                        </div>  
                      </div>
        
                    <div class="col-12">
                        <div class="form-group">
                            <label>Product Type</label>
                            <select class="form-control" formControlName="product_type" name="product_type" [ngClass]="{ 'is-invalid': submitted && f.product_type.errors }">
                                <option value="">Choose product type</option>
                                <option *ngFor="let x of productTypes" value="{{x.type_id}}">{{x.product}}</option>
                            </select>
                            <div *ngIf="submitted && f.product_type.errors" class="invalid-feedback">
                                <div *ngIf="f.product_type.errors.required">Product Type is required</div>
                            </div>
                        </div>  
                    </div>
        
                    <div class="col-12 form-group" formGroupName="product_size">
                        <label class="d-block">Choose size of your product</label>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="S" name="size[]" formControlName="S">
                          <label class="form-check-label" for="inlineCheckbox5">S</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="M" name="size[]" formControlName="M">
                          <label class="form-check-label" for="inlineCheckbox4">M</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="L" name="size[]" formControlName="L">
                          <label class="form-check-label" for="inlineCheckbox3">L</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="XL" name="size[]" formControlName="XL">
                          <label class="form-check-label" for="inlineCheckbox2">XL</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="XXL" name="size[]" formControlName="XXL">
                            <label class="form-check-label" for="inlineCheckbox1">XXL</label>
                        </div>
                    </div>    
                    
                    <div class="col-12">
                      <div class="form-group">
                          <label>Other Size</label>
                          <input type="text" class="form-control" name="other_size" placeholder="Size" formControlName="other_size">
                      </div>
                    </div>
        
                      <div class="col-12">
                          <label>Canvas Size Front (in Pixel)</label>              
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <input type="no" class="form-control" name="canvas_front_width" id="canvas_front_width" (change)="frontCanvasChange()" formControlName="canvas_front_width" placeholder="Width" [ngClass]="{ 'is-invalid': submitted && f.canvas_front_width.errors }">
                          <div *ngIf="submitted && f.canvas_front_width.errors" class="invalid-feedback">
                            <div *ngIf="f.canvas_front_width.errors.required">Canvas front width is required</div>
                          </div>
                        </div>  
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <input type="no" class="form-control" name="canvas_front_height" id="canvas_front_height" (change)="frontCanvasChange()" formControlName="canvas_front_height" placeholder="Height" [ngClass]="{ 'is-invalid': submitted && f.canvas_front_height.errors }">
                          <div *ngIf="submitted && f.canvas_front_height.errors" class="invalid-feedback">
                            <div *ngIf="f.canvas_front_height.errors.required">Canvas front height is required</div>
                          </div>
                        </div>  
                      </div>
        
        
                      <div class="col-12">
                          <label>Canvas Size Back (in Pixel)</label>              
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <input type="no" class="form-control" name="canvas_back_width" formControlName="canvas_back_width" id="canvas_back_width" (change)="backCanvasChange()" placeholder="Width" [ngClass]="{ 'is-invalid': submitted && f.canvas_back_width.errors }">
                          <div *ngIf="submitted && f.canvas_back_width.errors" class="invalid-feedback">
                            <div *ngIf="f.canvas_back_width.errors.required">canvas back width is required</div>
                          </div>
                        </div>  
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <input type="no" class="form-control" name="canvas_back_height" formControlName="canvas_back_height" id="canvas_back_height" (change)="backCanvasChange()" placeholder="Height" [ngClass]="{ 'is-invalid': submitted && f.canvas_back_height.errors }">
                          <div *ngIf="submitted && f.canvas_back_height.errors" class="invalid-feedback">
                            <div *ngIf="f.canvas_back_height.errors.required">canvas back height is required</div>
                          </div>
                        </div>  
                      </div>
                    </div>
                </div> 
        
                <div class="col-lg-7 col-md-8" formArrayName="product_color">

                  <div class="row">
                    <div class="col-12">
                      <label>Product Color & Images</label>
                    </div>
                    <div class="col-md-12 pull-right pb-2" style="padding-top: 3px;">
                      <a href="javascript:void(0)" (click)="addColor()" class=" badge badge-success p-2"
                         style="width: 200px; font-size: 12px; color: #fff;" title="Add Product Type">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Color And Product Image
                      </a> &nbsp;&nbsp;
                    </div>
                    <div class="col-md-6 form-group" *ngFor="let quantity of product_color().controls; let i=index" [formGroupName]="i">
                      <div class="card p-3" style="position:relative;">
                        <div class="row" style="position:absolute; top:-15px; right:0px; background:#f5f5f5;border-radius: 50%;z-index: 999;">
                          <a href="javascript:void(0)" (click)="removeColor(i)" class="btn btn-default  btn-sm" title="Delete Product Type">
                            <i class="fa fa-times" aria-hidden="true"></i>
                          </a>
                        </div>
                        <div class="row">
                          <div class="col-md-6 form-group d-flex">
                            <input type="hidden" class="form-control" placeholder="Choose Color" formControlName="id" name="id">
                            <input type="color" class="form-control" placeholder="Choose Color" formControlName="color" name="color">
                          </div>
                          <div class="col-md-6 form-group d-flex">
                            <input type="text" class="form-control" placeholder="Color Name" formControlName="color_name" name="color_name">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="inputDnD">
                              <input type="file" style="display:none" id="frontview{{i}}" name="frontview" formControlName="frontview" accept="image/*" (change)="onFileSelect($event,'frontview',i)">
                              <span (click)="fileClick('front',i)" class="frontFile{{i}}" style="cursor:pointer; border:dashed 1px grey;display:block; padding:10px;text-align:center">
                                <span class="frontSpan{{i}}" style="display:block;"></span>
                                <i class="fa fa-upload"></i> Front Image
                              </span>
                            </div>
                          </div>
                          <div class="col-6 text-center">
                            <div class="inputDnD">
                              <input type="file" style="display:none" id="backview{{i}}" formControlName="backview" accept="image/*" (change)="onFileSelect($event,'backview',i)" data-title="Back Image Upload">
                              <span (click)="fileClick('back',i)" style="cursor:pointer; border:dashed 1px grey;display:block; padding:10px;text-align:center">
                                <span class="backSpan{{i}}" style="display:block;"></span>
                                <i class="fa fa-upload"></i> Back Image
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <!--<div class="row">
      <div class="col-6">
        <div class="form-group inputDnD">
          <label>Upload Front Image</label>
            <input type="file" class="form-control-file" id="frontview" formControlName="frontview" [ngClass]="{ 'is-invalid': submitted && f.frontview.errors }" accept="image/*" (change)="onFileSelect($event,'frontview',1)" data-title="Front Image Upload">
        </div>-->
                  <!-- <div *ngIf="submitted && f.frontview.errors" class="invalid-feedback">
    <div *ngIf="f.frontview.errors.required">Front image is required</div>
  </div> -->
                  <!--</div>
  <div class="col-6">
    <div class="form-group inputDnD">
         <label>Upload Back Image</label>
        <input type="file" class="form-control-file" id="backview" formControlName="backview" [ngClass]="{ 'is-invalid': submitted && f.backview.errors }" accept="image/*" (change)="onFileSelect($event,'backview',1)" data-title="Back Image Upload">
    </div>-->
                  <!-- <div *ngIf="submitted && f.backview.errors" class="invalid-feedback">
    <div *ngIf="f.backview.errors.required">Back image is required</div>
  </div> -->
                  <!--</div>
  </div>-->
                  <!--<div class="row">
      <div class="col-6 my-auto text-center">
          <img src="assets/img/file-preview.jpg" width="100%" height="auto" class="img-fluid frontblock">
      </div>
      <div class="col-6 my-auto text-center">
          <img src="assets/img/file-preview.jpg"  width="100%" height="auto" class="img-fluid backblock">
      </div>
  </div>-->



                </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark"><i class="fa fa-pencil"></i> Update </button>
              </div>
            </form>
          </ng-template>
  
          </div>

        </div>
      </div>
    </main>
